<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>Username</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.content %></td>
        <td><%= post.user.username %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Comment', new_comment_path(id_post: post.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><%= link_to 'New Post', new_post_path%></td>

<div></div>